{% extends "blog/base.html" %}

{% block content %}
<div class="erros">
  {% if form.errors %}
    <p>Seu nome de usuário e senha não coincidem. Por favor, tente novamente.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Sua conta não tem acesso a esta página. Para prosseguir,
      faça o login com uma conta que tenha acesso.</p>
    {% else %}
      <p>Faça o login para ver esta página.</p>
    {% endif %}
    {% endif %}
</div>
<div class="login">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="login">
      <tr class="labe">
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>

    </table>
    <div class="botao-login">
      <table>
        <tr>
          <td><input type="submit" value="login" class="btn_login" /></td>
          {# Assumes you setup the password_reset view in your URLconf #}
          <td><a href="{% url 'password_reset' %}">Lost password?</a></td>
        </tr>
      </table>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>


</div>



{% endblock %}