{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen" />
    <title>WebTest</title>
</head>
<body>
<header>
    <h1>WebTest</h1>
</header>
<nav class="links">
    <ul>
        <li>
            <a href="../../home" {% if request.path == '/home' %} class="active"{% endif %}>Home</a>
        </li>
        <li>
            <a href="../../atividades" {% if request.path == '/atividades' %} class="active"{% endif %}>Atividades</a>
        </li>
        {% if user.is_authenticated == False %}
            <li class="login">
                <a href="{% url 'login' %}">Logar</a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="login">
                <a href="{% url 'logout' %}">Deslogar</a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="login">
                <a href="{% url 'post_new' %}" {% if request.path == '/post/new' %} class="active"{% endif %}><span class="glyphicon glyphicon-plus"></span></a>
            </li>
        {% endif %}

    </ul>
</nav>
<main>
    <article>
        {% block content %}
        {% endblock %}
    </article>
</main>
<footer>
    <p>©Copyright 2020 by Foxkrak. All rights reversed.</p>
</footer>
</body>
</html>