{% extends 'blog/base.html' %}

{% block content %}
<div class="newpost">
    <h2>Editar Postagem</h2>
    <form method="POST" class="post-form">{% csrf_token %}
            <table class="newpt">
                    <tr>
                        <td>Título:</td>
                    </tr>
                    <tr><td>{{ form.title }}</td></tr>
                    <tr><td>Qual Pagina?:</td></tr>
                    <tr><td>{{ form.tipo }}</td></tr>
                    <tr>
                        <td>Texto:</td>
                    </tr>
                    <tr><td>{{ form.text }}</td></tr>
                <tr><td><button type="submit" class="save btn btn-default">Salvar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="format-buttom" class="btn btn-danger" href="{% url 'post_del' pk=post.pk %}">Delete</a></td></tr>
            </table>
    </form>
</div>

{% endblock %}